@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


:root {
    --red-1: #FFF7F7;  /* Backgrounds */
    --red-2: #FFDBDC;  /* Interactive components */
    --red-3: #F4A9AA;  /* Borders and separators */
    --red-4: #DC3E42;  /* Solid backgrounds, buttons */
    --red-5: #641723;  /* High-contrast text */
    --yellow-1: #FEFCE9;  /* Backgrounds */
    --yellow-2: #FFF394;  /* Interactive components */
    --yellow-3: #E4C767;  /* Borders and separators */
    --yellow-4: #FFDC00;  /* Solid backgrounds, buttons */
    --yellow-5: #473B1F;  /* High-contrast text */
    --gray-1: #F9F9F9;  /* Backgrounds */
    --gray-2: #E8E8E8;  /* Interactive components */
    --gray-3: #CECECE;  /* Borders and separators */
    --gray-4: #838383;  /* Solid backgrounds, buttons */
    --gray-5: #202020;  /* High-contrast text */
}

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Chicle', cursive;
}

a:hover, .footer-container li a:hover {
    color: var(--red-5);
}

.btn-primary:hover {
    background-color: var(--red-5);
}

.thumbnail-top {
    border-radius: 25px;
    background-color: red;
}

/* categories_landing_page */

.home-categories-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.category-block {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}


.category-name {
    padding: 10px;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
}

@media (max-width: 768px) {
    .home-categories-display {
        grid-template-columns: 1fr;
    }
}
