@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@layer base {
  :root {
    --red-primary: #be020c;
    --red-1: #fff7f7; /* Backgrounds */
    --red-2: #ffdbdc; /* Interactive components */
    --red-3: #f4a9aa; /* Borders and separators */
    --red-4: #dc3e42; /* Solid backgrounds, buttons */
    --red-5: #641723; /* High-contrast text */
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --muted: hsl(0, 12%, 90%);
    --muted-foreground: hsl(0, 12%, 30%);
    --popover: hsl(0, 0%, 97%);
    --popover-foreground: hsl(0, 0%, 0%);
    --card: hsl(0, 0%, 98%);
    --card-foreground: hsl(0, 0%, 0%);
    --border: hsl(0, 0%, 95%);
    --input: hsl(0, 0%, 92%);
    --primary: hsl(0, 0%, 17%);
    --primary-foreground: hsl(0, 0%, 77%);
    --secondary: hsl(0, 0%, 75%);
    --secondary-foreground: hsl(0, 0%, 15%);
    --accent: hsl(0, 0%, 85%);
    --accent-foreground: hsl(0, 0%, 25%);
    --destructive: hsl(5, 94%, 44%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(0, 0%, 17%);
    --radius: 0.5rem;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}

.Chicle {
  font-family: 'Chicle', cursive;
}

a:hover,
.footer-container li a:hover {
  color: var(--red-5);
}

.btn-primary:hover {
  background-color: var(--red-5);
}
/* product card */

.product-miniature .product-description {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.thumbnail-top {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.product-miniature .thumbnail-container {
  background: none !important;
}

.product-miniature .thumbnail-container .product-thumbnail img {
  background: white;
}

/* header */

#header {
  position: relative;
  z-index: 999;
  color: #7a7a7a;
  background: #fff;
  -webkit-box-shadow: 0;
  box-shadow: none;
}
/* bloc du text custom */

#custom-text {
  background: none;
  padding: 2.5rem 0;
}

#custom-text h1 {
  font-family: 'Chicle', cursive;
  font-size: 2.5rem;
  color: var(--red-primary);
}

#custom-text div.lead {
  font-weight: 600;
  padding-bottom: 0.25rem;
}

/* bloc des catégories */

.block-categories {
  padding: 1.563rem 1.25rem;
  margin-bottom: 1.563rem;
  background: none;
}

/* bloc featured-products */

.featured-products h2 {
  font-weight: 600 !important;
  padding-top: 2.5rem;
}

/* bloc des catégories */

.pagination .page-list {
  background: none;
}

/* bouton nouveau */

.product-flags li.product-flag {
  margin-left: 0.7rem;
  border-radius: var(--radius);
  padding: 0.5rem 0.6rem 0.4rem 0.6rem;
}

/* categories_landing_page */

.home-categories-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  border-radius: var(--radius);
}

.category-block {
  position: relative;
  overflow: hidden;
}

.category-block .category-image {
  position: relative;
  width: 100%;
}

.category-block .category-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--radius);
}

.category-block .category-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
  z-index: 1;
}

.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  margin: 0;
  width: calc(100% - 20px);
  text-align: center;
}

#home-categories {
  font-weight: 600;
  text-align: center;
  margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
  .home-categories-display {
    grid-template-columns: 1fr;
  }
}
