@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@layer base {
  :root {
    --red-primary: #be020c;
    --red-1: #fff7f7; /* Backgrounds */
    --red-2: #ffdbdc; /* Interactive components */
    --red-3: #f4a9aa; /* Borders and separators */
    --red-4: #dc3e42; /* Solid backgrounds, buttons */
    --red-5: #641723; /* High-contrast text */
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --muted: hsl(0, 12%, 90%);
    --muted-foreground: hsl(0, 12%, 30%);
    --popover: hsl(0, 0%, 97%);
    --popover-foreground: hsl(0, 0%, 0%);
    --card: hsl(0, 0%, 98%);
    --card-foreground: hsl(0, 0%, 0%);
    --border: hsl(0, 0%, 95%);
    --input: hsl(0, 0%, 92%);
    --primary: hsl(0, 0%, 17%);
    --primary-foreground: hsl(0, 0%, 77%);
    --secondary: hsl(0, 0%, 75%);
    --secondary-foreground: hsl(0, 0%, 15%);
    --accent: hsl(0, 0%, 85%);
    --accent-foreground: hsl(0, 0%, 25%);
    --destructive: hsl(5, 94%, 44%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(0, 0%, 17%);
    --radius: 0.5rem;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}

.Chicle {
  font-family: 'Chicle', cursive;
}

/* custom btn */

.custom-btn,
.btn-primary {
  font-size: 1rem;
  align-items: center;
  height: 48px;
  border-radius: var(--radius);
  font-weight: 600;
  padding: 12px 24px;
  color: var(--background);
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  background: var(--red-primary);
}

.custom-btn:hover,
.btn-primary:hover {
  background: var(--red-4) !important;
  color: var(--background);
}

a:hover,
.footer-container li a:hover {
  color: var(--red-5);
}

.btn-primary:hover {
  background-color: var(--red-5);
}
/* product card */

.product-miniature .product-description {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  background-color: var(--card);
}
.thumbnail-top {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  background-color: var(--card);
}

.product-miniature .thumbnail-container {
  background: none !important;
  background-color: var(--card);
}

.product-miniature .highlighted-informations {
  background: none;
  background-color: var(--card);
}

.product-miniature .thumbnail-container .product-thumbnail img {
  background-color: var(--card);
}
/* header */

#header {
  position: relative;
  z-index: 999;
  color: var(--foreground);
  background: var(--background);
  -webkit-box-shadow: 0;
  box-shadow: none;
}

#header a,
#header span,
#header i {
  font-weight: 600;
}

.custom-header {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: end;
}

#header .account-link,
#header .log-link {
  color: red;
}
/* bloc des catégories */

.block-categories {
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid var(--border);
  background-color: var(--card);
  border-radius: var(--radius);
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* bloc featured-products */

.featured-products h2 {
  font-weight: 600 !important;
  padding-top: 5rem;
}

/* bloc des catégories */

.pagination .page-list {
  background: none;
}

/* bouton nouveau */

.product-flags li.product-flag {
  margin-left: 0.7rem;
  border-radius: var(--radius);
  padding: 0.5rem 0.6rem 0.4rem 0.6rem;
}

/* categories_landing_page */

.home-categories-display {
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 31px;
  border-radius: var(--radius);
}

.category-block {
  position: relative;
  overflow: hidden;
}

.category-block .category-image {
  position: relative;
  width: 100%;
}

.category-block .category-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--radius);
}

.category-block .category-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--radius);
  z-index: 1;
}

.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  margin: 0;
  width: calc(100% - 20px);
  text-align: center;
}

#home-categories {
  font-weight: 600;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .home-categories-display {
    grid-template-columns: 1fr;
  }
}

/* catégories */

.subcategory-image {
  padding: 0;
  border: none;
}

.subcategory-image img {
  border-radius: var(--radius);
}

.subcategory-image :hover {
  padding: 0;
  border: none;
}

a.subcategory-name {
  color: black;
}

.subcategory-image:hover img {
  filter: brightness(50%);
}

#js-product-list-header,
.subcategory-heading {
  display: none;
}

#subcategories ul li .subcategory-image a {
  border: none;
}

.card-block {
  background-color: var(--background);
}

.text-uppercase.h6 {
  color: var(--red-primary);
  font-family: 'Chicle', cursive;
}

.brands-sort .select-title,
.products-sort-order .select-title,
.suppliers-sort .select-title {
  border: none;
  border-radius: var(--radius);
}

/* Bouton wishlist */

.wishlist-button-add {
  border-radius: var(--radius);
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

/* ps_customtext */

#custom-img {
  border-radius: var(--radius);
}

.custom-text-heading {
  text-wrap: pretty;
  margin-top: 1.2rem;
}

.sticky-span {
  font-size: 2.5rem;
  font-family: 'Chicle', cursive;
  color: var(--red-primary);
}

#custom-text h1 {
  font-size: 2.2rem;
}

#custom-text {
  text-align: left;
}

/* custom btn */

.header-top-right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

.user-info {
  display: flex;
  justify-content: end;
  margin-top: 2px;
}

/* footer */

.footer-container {
  background-color: var(--foreground);
}

.footer-container a {
  color: var(--background);
}

p.h4.text-uppercase.block-contact-title.hidden-sm-down {
  color: var(--background);
}
p.h3.hidden-sm-down {
  color: var(--background);
}

.block-contact,
.footer-container li a {
  color: var(--secondary);
}

.footer-container li a:hover {
  color: var(--muted);
}

.footer-container div.row {
  margin-left: 1rem;
}

.block-categories {
  margin-top: 4.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.category-top-menu {
  margin-bottom: 0;
}

#pagenotfound .page-not-found,
#products .page-not-found {
  margin-top: 1rem;
}

.custom-header a:first-child,
div.account-link {
  margin-right: 2rem;
}

.account {
  margin-top: 0.5rem;
}

.account-link i,
.log-link i {
  margin-bottom: 2px;
}

@media (max-width: 767px) {
  .footer-container .links ul > li {
    background-color: var(--foreground);
    color: var(--secondary);
  }

  footer .h3 {
    color: var(--background);
    margin-left: 1rem;
  }

  .footer-container div.row {
    margin-left: 0;
  }

  footer .col-md-4 {
    padding-left: 0;
  }

  .links .title {
    padding: 0.625rem 0;
  }

  footer .container {
    padding-left: 0;
  }

  .footer-container .links ul > li a {
    color: var(--secondary);
  }

  .footer-container .links ul {
    background-color: var(--foreground);
  }

  footer .material-icons,
  .block-contact .navbar-toggler .material-icons {
    color: var(--background);
  }

  p.text-sm-center {
    margin-top: 1rem;
  }

  .block_newsletter {
    padding-left: 2rem;
  }

  .custom-text-heading {
    margin-bottom: 3rem;
  }

  .products-section-title {
    margin-top: 3rem;
  }
}

.subcategories-list {
  margin-top: 1.8rem !important;
  justify-content: center;
}

.tabs {
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid var(--border);
  background-color: var(--card);
  border-radius: var(--radius);
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.page-my-account #content .links a span.link-item {
  background: none;
}

.page-my-account #content .links {
  justify-content: center;
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  background: none;
}

.btn-comment,
.btn-comment-inverse {
  background-color: #ffe629;
  color: var(--foreground);
  border-radius: var(--radius);
}

.btn-comment:hover {
  background-color: #ffe770;
  border-radius: var(--radius);
}

.thumb-container:hover {
  filter: brightness(50%);
}

#product-modal .modal-content .modal-body .product-cover-modal,
.product-cover img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.image-caption {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

img.thumb.js-modal-thumb {
  border-radius: var(--radius);
  border: 1px solid var(--border);
}

#search_widget form input {
  border: 1px solid var(--border);
  background-color: var(--card);
  border-radius: var(--radius);
}

.block_newsletter form input[type='email'] {
  border-radius: var(--radius);
}

.header-top {
  padding-bottom: 0;
}

#wrapper {
  padding-top: 0;
}
/* cacher le menu sur mobile */

#header .header-nav .blockcart {
  background: var(--background);
}

#header .header-nav .cart-preview .shopping-cart {
  color: var(--foreground);
}
@media (min-width: 767px) {
  #custom-text {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .header-top-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  #header .header-top {
    padding: 0;
  }

  #custom-text img {
    height: auto;
  }

  .header-top-right {
    display: none;
  }

  #mobile_top_menu_wrapper {
    display: flex;
    flex-direction: column;
  }

  .custom-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
  }

  #mobile_top_menu_wrapper .js-top-menu-bottom a,
  .dropdown,
  body#checkout section.checkout-step small {
    color: var(--foreground);
    padding: 0;
  }

  #mobile_top_menu_wrapper .js-top-menu-bottom .user-info {
    padding: 0;
  }

  .float-xs-right {
    display: none;
  }
}

#header .header-nav {
  border-bottom: none;
}

.desktop-hidden {
  display: none;
}

@media (max-width: 767px) {
  .desktop-hidden {
    display: block;
  }

  .logout {
    display: flex;
    align-items: center;
  }

  .logout i,
  .logout span {
    display: inline-block;
  }

  .offers_page img.img-fluid {
    margin-top: 2rem;
  }
}

div.products.row {
  margin: 0;
}

.offers_page img.img-fluid {
  border-radius: var(--radius);
}
